.address h3 {
    font-size: 16px;
}

.allinfo {
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.appbuttons {
  margin-top: 10px;
}

.appimages {
  margin: 5px 0px 5px 0px;
}

.applongdesc {
  font-size: 14px
}

.appname {
  font-size: 65px
}

.appname4 h1{
  color: #EE5F5B
}

.appprog {
  margin: 5px 0px 0px 0px;
}

.appshortdesc {
  font-size: 20px
}

.appurl1, .appurl2, .appurl3, .appurl4 {
  font-size: 30px
}

/*.appurl1:hover {
  text-decoration: none;
  color: #F89406;
}

.appurl2:hover {
  text-decoration: none;
  color: #62C462;
}

.appurl3:hover {
  text-decoration: none;
  color: #5BC0DE;
}

.appurl4:hover {
  text-decoration: none;
  color: #EE5F5B;
}*/

.city {
    margin: 35px 0px 0px 0px;
}

.fullpage {
  visibility: hidden;
  opacity: 0.0;
  position: relative;
}

.github {
    height:40px;
    width:110px;
}

.linksect {
    margin: 20px 0px 0px 0px;
}

.linkedin {
    height:40px;
    width:110px;
}

.name {
    font-size: 75px;
}

.title {
    margin-top: -8px;
    font-size: 20px;
}
