#allinfo {
  /*display: none;*/
  text-align: center;
  margin: 20px 0px 0px 0px;
}

  #name {
    font-size: 80px;
  }

  #title {
    margin-top: -8px;
    font-size: 22px;
  }

  .address h3 {
    font-size: 16px;
  }

  #city {
    margin: 35px 0px 0px 0px;
  }

  .linksect {
    margin: 20px 0px 0px 0px;
  }

  #linkedin {
    height:40px;
    width:100px;
  }

  #github {
    height:40px;
    width:100px;
  }

  #project1 {
    /*float:left;
    padding: 10px 10px 10px 10px;
    margin: 20px 40px 20px 40px;
    width: auto;*/
  }

  #project2 {
    /*float: left;
    padding: 10px 10px 10px 10px;
    margin: 20px 40px 20px 40px;
    width: auto;*/
  }

  #project3 {
    /*float: left;
    padding: 10px 10px 10px 10px;
    margin: 20px 40px 20px 40px;
    width: auto;*/
  }

.appnamelink {
}

.apptotaldesc {
}

.appname {
  font-size: 65px
}

.appurl1, .appurl2, .appurl3 {
  font-size: 30px
}

.appurl1:hover {
  text-decoration: none;
  color: #F89406;
}

.appurl2:hover {
  text-decoration: none;
  color: #62C462;
}

.appurl3:hover {
  text-decoration: none;
  color: #5BC0DE;
}

.appimage {
  margin: 15px 0px 15px 0px;
}

.appshortdesc {
  font-size: 20px
}

.applongdesc {
  font-size: 14px
}

.appimages {
  margin: 5px 5px 5px 5px;
}
