.appbuttons {
  margin-top: 10px;
}

.appimages {
  margin: 5px 0px 5px 0px;
}

.applongdesc {
  font-size: 14px
}

.appname {
  font-size: 5em;
  margin-top: 35px;
}

.appname1 h1 {
  color: #F89406
}

.appname2 h1 {
  color: #80CDCC
}

.appname3 h1 {
  color: #28BB9C
}

.appname4 h1 {
  color: #C31D85
}

.appprog {
  margin: 5px 0px 0px 0px;
}

.appshortdesc {
  font-size: 2.7em
}

.appurl {
  font-size: 2.5em
}

.container {
  margin: 20px 0px 0px 0px
}

.footertext {
  margin: 20px 0px 10px 0px
}

/*.fullpage {
  visibility: hidden;
  opacity: 0.0;
  position: relative;
}*/

/*.topinfo {
  visibility: hidden;
  opacity: 0.0;
  position: relative;
}*/

.topaddress {
  visibility: hidden;
  opacity: 0.0;
  position: relative;
}

.topnametitle {
  visibility: hidden;
  opacity: 0.0;
  position: relative;
}

.toplinksect {
  visibility: hidden;
  opacity: 0.0;
  position: relative;
}

.projects {
  visibility: hidden;
  margin-right: 40px;
  opacity: 0.0;
  position: relative;
}

.progress-pink {
  background-color: #C31D85
}

.topaddress {
    margin: 35px 0px 0px 0px
}

.topaddress h3 {
    font-size: 26px;
}

.topgithub {
    height:40px;
    width:110px;
}

.topinfo {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.toplinkedin {
    height:40px;
    width:110px;
}

.toplinksect {
    margin: 25px 0px 20px 0px;
}

.topname {
    font-size: 120px;
}

.toptitle {
    margin-top: -8px;
    font-size: 32px;
}
