
.allinfo {
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.appbuttons {
  margin-top: 10px;
}

.appimages {
  margin: 5px 0px 5px 0px;
}

.applongdesc {
  font-size: 14px
}

.appname {
  font-size: 65px
}

.appname4 h1{
  color: #EE5F5B
}

.appprog {
  margin: 5px 0px 0px 0px;
}

.appshortdesc {
  font-size: 20px
}

.appurl1, .appurl2, .appurl3, .appurl4 {
  font-size: 30px
}

  /*color: #F89406;
  color: #62C462;
  color: #5BC0DE;
  color: #EE5F5B;*/

.fullpage {
  visibility: hidden;
  opacity: 0.0;
  position: relative;
}


.topaddress {
    margin: 35px 0px 0px 0px
}

.topaddress h3 {
    font-size: 16px;
}

.topgithub {
    height:40px;
    width:110px;
}

.toplinkedin {
    height:40px;
    width:110px;
}

.toplinksect {
    margin: 20px 0px 0px 0px;
}

.topname {
    font-size: 75px;
}

.toptitle {
    margin-top: -8px;
    font-size: 20px;
}
